html {
  padding-left: calc(100vw - 100%); }

body {
  background: lightgray;
  color: #2f1b32;
  font-size: 1.5em;
  font-family: Helvetica, serif;
  line-height: 1.3;
  margin: 0; }

.container {
  max-width: 800px;
  margin: auto;
  background: #ecdeed;
  min-height: 100vh; }

header {
  background: #2f1b32;
  color: lightgray; }
  header a {
    color: #f599ff; }
  header .title {
    font-size: 3em; }
  header .blurb {
    font-style: italic; }

header, article, footer {
  padding: 20px; }

pre {
  padding: 20px;
  font-size: 0.75em;
  background: white; }

img {
  max-width: 100%; }

footer {
  font-size: 0.75em; }

a {
  color: #0a6600; }
