name: Build example project

on:
  workflow_dispatch: {}
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: example

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 18.x
      uses: actions/setup-node@v2
      with:
        node-version: 18.x
    - run: npm ci
    - run: npm start
    - name: Install SSH key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_KEY }}
        known_hosts: ${{ secrets.KNOWN_HOSTS }}
        if_key_exists: replace # replace / ignore / fail; optional (defaults to fail)
    - name: rsync over ssh
      run: rsync -r ./build/ ${{ secrets.SSH_USER }}:${{ secrets.SITE_DIRECTORY }}
